<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <td>#</td>
        <td>Име</td>
        <td>Емайл</td>
        <td>Факултетен номер</td>
    </tr>
    </thead>
    <tbody>
    {% for student in students %}
        <tr>
            <td>{{ student.id }}</td>
            <td>{{ student.firstName }} {{ student.lastName }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.facultyNumber }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>